{{!-- header --}}
<div class="parallax-container">
    <div class="parallax">
        <img src="assets/images/parallax1.jpg">
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <h1 id="title">MongoScraper</h1>
            <h4 id="title">travel</h4>
        </div>
        <div class="col s12 center-align">
            {{!-- scrapes news and reloads page --}}
            <a id="scrape" class="waves-effect waves-light btn-large navBtns">Latest News</a>
            {{!-- takes you to the page with saved articles --}}
            <a id="openSavedArticles" class="waves-effect waves-light btn-large navBtns" href="/myarticles">My Articles</a>
        </div>
    </div>
</div>
{{!-- main content (cards) --}}
<div class="row">
  {{#each articles}}
  <div class="col m12 offset-l1 l10">
    <div class="card horizontal z-depth-5 articleCard">
      <div class="card-image hide-on-small-only">
        <img class="responsive-img cardsImg" src="{{imgLink}}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h5>{{title}}</h5>
          <p>{{summary}}</p>
        </div>
        <div class="card-action">
          {{!-- link to article --}}
          <a href="{{articleLink}}" target="_blank">Read Article</a>
          {{!-- saves article to "my articles" --}}
          <button data-id="{{_id}}" class="waves-effect waves-light btn-flat right saveArticle">Save</button>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>



